body{
  background-color: #899593;
  font-family: Arial, Helvetica, sans-serif;
  color: #030303;
  width: 100%;
}
/*--------------------------------------------------------------------Menu header*/
header{
  width: 25%;
  float: left;
  
}
main{
  width: 75%;
  float: right;
}

.menu-head{
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    position: fixed;
    color: #f0f1f4;
    background-color: #2c3632;
    
}

.menu-head img{
  border-radius: 50%;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.menu-head h1, h2{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  color: #f0f1f4;
}
.menu-head h1{
  padding-top: 5%;
  font-size: 26px;
}
.menu-head  h2{
  font-style: italic;
  font-size: 20px;
  color: #d3d4d6;
  line-height: 1.5;
}
.menu-head p{
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 18px;
  text-align: left;
}

.menu-head ul{
  padding-top: 15%;
  line-height: 1.5;
  
}
.menu-head ul li {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.menu-head ul li a{
  color: #d3d4d6;
  text-decoration: none;
}
.menu-head ul li a:hover{
  color: #899593;
}

/*-------------------------------------------------------------------bottom-menu and social media*/
.menu-bottom{
  background-color: #030303;
  width: 25%;
  height: 50px;
  position: fixed;
  bottom:0;
  align-items: center;
  display: flex; 
  justify-content: center;
}
.menu-bottom .social-media{
  align-items: center;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
 
}
.menu-bottom .social-media a{
  padding: 0 5px;
}
.menu-bottom .social-media i{
  color: #d3d4d6;
}
.menu-bottom .social-media i:hover{
  color: #899593;
  transform: scale(1.3);
  
}
/*-----------------------------------------------------------Main page*/
main .container{
  width: 96%;
  margin: 2%;
  background-color: #d3d4d6;
  box-shadow: 0 0 20px #2c3632;
  text-align: justify;
  padding-bottom: 3%;
  padding-top: 0.5%;
}
main .container h3{
  font-size: 26px;
  line-height: 3;
  margin: 2% 5%;
}
main .container hr{
  width: 60%;
  color: #2c3632;
  background-color: #2c3632;
  height: 1px;
  
  
}
main .container .box{
  margin: 2% 5%;
}
main .container .box i{
  width: 50px;
  height: 50px;
  background-color:gray;
  float: left;
  margin: 10px;
  align-items: center;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
main .container .box img{
  width: 50px;
  float: left;
  margin: 10px;
}
main .container .box h4{
  font-size: 20px;
  line-height: 2;
  color: #030303;
}
main .container .box h5{
  font-size: 18px;
  line-height: 1.3;
  color: #2c3632;
  font-style: italic;
}
main .container .box h6{
  font-size: 18px;
  margin-left: 70px;
  margin-bottom: 1%;
  line-height: 1;
  color: #899593;
}
main .container .box p{
  font-size: 18px;
  line-height: 1.5;
  margin: 0 70px;
  color: #030303;
}
main .experience{
  padding-bottom: 0;
}

/*--------------------------------------------------------------------------------Collapse*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  
  background-color: transparent;
  color: #2c3632;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 16px;
  
  

}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color:transparent;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding-top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: '\23F7'; /* Unicode character for "plus" sign (+) */
  font-size: 18px;
  color: #2c3632;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\23F6"; /* Unicode character for "minus" sign (-) */
}
/*------------------------------------------------------------------------------Footer*/

.footer{
  width: 75%;
  float: right;
  height: 50px;
  background-color: #030303;
  color: #d3d4d6;
  align-items: center;
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer a{
  color: #d3d4d6;
  text-decoration: none;
}











/*-----------------------------------------------------------Responsive*/
@media screen and (min-width: 1px) and (max-width: 481px){
  .menu-head{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    
    color: #f0f1f4;
    background-color: #2c3632;
    padding-top: 15%;
    
  }
  .menu-head img{
    width: 80%;
  }
  .menu-head p{
    width: 80%;
  }
  .menu-head ul li{
    width: 80%;
  }
  .menu-bottom{
    position: fixed;
    top: 0;
    width: 100%;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px){
  .menu-head{
    width: 30%;
   
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
  header{
    width: 100%;
  }
  
  .menu-head{
    width: 30%;
  }
}

/*Configuração do cabeçalho para medias acima de 769px*/
@media screen and (min-width: 769px){}

/* -- ----------------media query desktop a partir de 1025px de largura--*/
@media screen and (min-width: 1025px){
  header .icon{
    display: none;
  }
}